@import '../styles/variable';

.m-view {
  display: none;
}
.caseContainer {
  // background: rgb(231, 190, 151);
  width: 90%;
  height: calc(100vh - 70px);
  font-size: clamp(12px, 1vw, 18px);
  .mobileToggle,.mobileClose {
    display: none;
  }
  .case {
    @include scrollbar;
  }
  .sortSelect {
    // background: lemonchiffon;
    width: 100%;
    // font-size: clamp(12px, 1vw, 13.9px);
    padding: 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    .bothFilter {
      display: flex;
      justify-content: flex-start;
      .marge5 {
        margin-right: 10px;
      }
    }
  }
  .click {
    color: $subClrBrown;
  }
  .selTrans {
    margin-top: $marage10;
  }
  .caseReport {
    margin: 20px auto 0;

    .bodyMobile :hover {
      background: #eee;
    }
    thead,
    .bodyMobile {
      border-bottom: 1px solid #ccc;
      text-align: center;
      tr,
      th,
      td {
        white-space: nowrap;
      }
      th {
        padding: 10px 15px;
        // font-size: 14px;
        .arrow {
          font-size: 2rem;
          cursor: pointer;
        }
      }
      td {
        padding: 15px;
        .icons {
          width: 40px;
          height: 20px;
          cursor: pointer;
          color: pink;
        }
      }
      .view {
        color: $focusClrG;
      }
      .sortBtn {
        @include flexCenter;
      }
      .tiTick {
        color: red;
      }
    }
  }
  .page {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 20px;
  }
  .noData {
    // background: lavenderblush;
    font-size: $contentText18;
    color: $focusClrG;
    text-align: center;
    .noTd {
      padding: 15px;
    }
  }
}

/* media queries */
@media screen and (max-width: 576px) {
  .caseContainer {
    .mobileToggle {
      display: flex;
      // justify-content: end;
    }
  }
  .case {
    max-width: 576px;
    margin: 0 auto;
  }

  table.mobileCaseReport {
    width: 100%;
  }
  table.mobileCaseReport tr.hide-mobile,
  table.mobileCaseReport th.hide-mobile,
  table.mobileCaseReport td.hide-mobile {
    display: none;
  }
  table.mobileCaseReport thead {
    display: none;
  }
  table.mobileCaseReport tbody {
    width: 100%;
  }
  .caseContainer .mobileCaseReport .bodyMobile {
    border-bottom: none;
  }
  table.mobileCaseReport tr,
  table.mobileCaseReport th,
  table.mobileCaseReport td {
    display: block;
    padding: 0;
  }
  table.mobileCaseReport tr {
    border-bottom: none;
    border-top: none;
    margin: 0 0 1em 0;
    padding: 0.5em;
  }
  table.mobileCaseReport tr.highlight {
    background-color: inherit !important;
  }
  table.mobileCaseReport.zebra tr:nth-child(even) {
    background-color: transparent;
  }
  table.mobileCaseReport.zebra td:nth-child(even) {
    background-color: #f6f6f6;
  }
  table.mobileCaseReport tr:nth-child(even) {
    background-color: transparent;
  }
  table.mobileCaseReport td {
    padding: 0.5em 0 0.25em 0;
    border-bottom: 1px dotted #ccc;
    text-align: right;
  }
  table.mobileCaseReport td[data-title]:before {
    content: attr(data-title);
    font-weight: bold;
    display: inline-block;
    content: attr(data-title);
    float: left;
    margin-right: 0.5em;
    font-size: 0.95em;
  }
  table.mobileCaseReport td:last-child {
    padding-right: 0;
    border-bottom: 2px solid #ccc;
  }
  table.mobileCaseReport td:empty {
    display: none;
  }
  table.mobileCaseReport .highlight td {
    background-color: inherit;
    font-weight: normal;
  }
}

@media screen and (max-width: 1400px) {
  .m-view {
    display: flex;
  }
  .p-view {
    display: none;
  }
  .sortSelect {
    // background: lemonchiffon;
    // padding: 30px 0px 10px 0px;
    // display: flex;
    justify-content: center;
    flex-direction: column;
    .both {
      display: flex;
      margin-bottom: $marage10;
      .bothFilter {
        // display: flex;
        // justify-content: space-between;
        .marge5 {
          margin-right: $marage10;
        }
        .margeNone {
          margin-right: $marage10;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .m-view {
    display: flex;
  }
  .p-view {
    display: none;
  }
  .sortSelect {
    // background: lemonchiffon;
    // padding: 30px 0px 0px 0px;
    // display: flex;
    // justify-content: space-between;

    align-items: center;
    // justify-content: start;

    .both {
      // display: flex;
      margin-bottom: 0;
      flex-direction: column;
      .bothFilter {
        // display: flex;
        // width: 370px;

        padding-bottom: 15px;
        .margeNone {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .caseContainer {
    .dnone {
      display: none;
    }
    .mobileClose {
      display: flex;
    }
    .dflex {
      display: flex;
      flex-direction: column;
    }
    .mobileToggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
