@import '../../src/styles/_variable.scss';

.navTop {
  width: 100%;
  height: 70px;
  background-color: $header;
  // background-image: url('../assets/call-center-2275745_1920.jpg');
  // background-position: 50% 45%;
  // background-size: 80% auto;
  // filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
  z-index: 50;
  .mobile {
    display: flex;
    align-items: center;

    .titleH3 {
      color: $mainClrW;
      font-size: $navbarTop;
    }
    .menu {
      color: $mainClrW;
      font-size: $icon35;
      cursor: pointer;
    }
  }

  .logOut {
    color: $mainClrW;
    font-size: $icon35;
    cursor: pointer;
  }
}
.between {
  display: flex;
  .navLeft {
    width: 200px;
    min-width: 200px;
    height: calc(100vh - 70px);
    background-color: $navBarPc;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    .borT {
      border-top: 1px solid #aaa;
    }
    .borTB {
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
    }
    // transition: count .6s;
    .marginTB {
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 0 10px;
      font-size: $navbarLeft;
     
    }
    .marginTit {
      padding-top: 10px;
      margin-left: 10px;
      font-size: $navbarLeft;
    }
    .bold {
      font-weight: bold;
    }
    a {
      text-decoration: none;
      color: black;
    }
    & a:hover {
      color: $focusClrG;
    }
    .link {
      color: $focusClrG;
    }
    .iconBetw {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // margin-left: 0px;
      .iconSt {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
    .iconRinht {
      margin-right: $marage10;
    }
    .center {
      display: flex;
      align-items: center;
    }
    .count {
      div {
        margin: 0px 10px;
        padding: 5px 0 5px 20px;
        border-top: 1px solid #aaa;
      }
    }
    .countUp {
      opacity: 0;
      height: 0;
      visibility: hidden;
      background-color: transparent;
      transition: all 0.2s ease-in;
    }
    .countDown {
      opacity: 1;
      height: 210px;
      visibility: visible;
      transition: all 0.2s ease-in;
      background-color: rgba(0,0,0, .1);
    }
  }
  .navFlex {
    display: flex;
    align-items: center;
  }
  @media only screen and (min-width: 768px) {
    .navRight {
      width: calc(100vw - 120px);
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }

  @media only screen and (max-width: 768px) {
    .navRight {
      width: calc(100vw);
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }
}
