// color
$mainClrW: #fff;
$subClrBrown: #817161;
$focusClrY: #f2ac33;
$focusClrG: #1f9998;
$focusClrB: #221e73;
$bcgBlock: #00000080;
$header: #817161;
$navBar: #c09e8280;


// btn color
$saveClr:#221e73;
// $delClr:;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin scrollbar {
  overflow: auto;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
  &::-webkit-scrollbar {
    width: 7px;
    //   height: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #807060c0;
    // background-clip: padding-box;
    border-radius: 3px;
  }
}

@mixin scrollbarContain {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 7px;
    // cursor: pointer;
    //   height: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
    // background-clip: padding-box;
    border-radius: 3px;
  }
}
