// color
$mainClrW: #fff;
$subClrBrown: #817161;
$focusClrY: #f2ac33;
$focusClrG: #1f9998;
$focusClrB: #221e73;
$bcgBlock: #00000080;
$header: #817161;
$navBar: #c09e8280;

// textStyles
$navbarLeft18: 18px;
$navbarTop40: 40px;
$containerTit28: 28px;
$contentText: 18px;
$subText: 16px;

// 欄位寬度
$columWidth: 250px;
$columWidthRWD: 150px;

// 間距
$marage10: 10px;

// container padding
$padding5: 5px;

// 最外框寬度
$maxWidth: 1440px;
$maxWidthRWD: 375px;

// 圓角
$borderRadius: 5px;

// BTN顏色
// 1. #F26457 -> 上傳檔案
// 2. $focusClrB -> 儲存、修改
// 3. $focusClrY -> 送出、確認、完成、是
// 4. #ccc -> 刪除、取消、否

// flex
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// scroll bar
@mixin scrollbar {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #807060c0;
    border-radius: 3px;
  }
}

@mixin scrollbarContain {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 3px;
  }
}
