@import '../variable';

// appForm
@mixin submitBtn($bcg) {
  border: 0;
  background: $bcg;
  padding: 2px 8px;
  margin-left: 25px;
  border-radius: 5px;
  transition: linear 0.3s;
  &:hover {
    box-shadow: 0.2px 0.2px 4px #8a8a8aa5;
  }
}

.m-view {
  display: none;
}
.appFormContainer {
  // background: lemonchiffon;
  max-width: 100%;
  height: 90%;
  margin: 0 auto;
  font-size: clamp(12px, 1vw, 18px);
  @include scrollbar;
  .checkBtn {
    // background: lemonchiffon;
    // width: fit-content;
    margin: 0 auto 20px;
    // font-size: 16px;
    font-weight: 600;
    border: 1px solid $subClrBrown;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    max-width: 85%;
    .check {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .editBtn {
        font-weight: 500;
        background: $focusClrY;
        text-align: center;
        padding: 5px;
        border-radius: 4px;
        margin: 10px;
        cursor: pointer;
      }
    }
  }

  .statusFormTit {
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
    color: $subClrBrown;
    font-weight: 600;
  }
  .statusFormContainer {
    background: $subClrBrown;
    max-width: 85%;
    margin: 0 auto;
    padding: 8px 8px 0;
    height: 250px;
    border: 3px solid #ccc;
    border-radius: 5px;
    @include scrollbarContain;
    .statusFormContain {
      background: $mainClrW;
      margin-bottom: 8px;
      padding: 5px;
      textarea {
        resize: none;
        @include scrollbarContain;
      }
    }
  }
  .tableContainer {
    // background: lightblue;
    max-width: 85%;
    margin: 20px auto 10px;

    .appTitle {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: $contentTit;
      font-weight: 600;
    }
    .vector {
      border-top: 2px solid black;
    }
    .gapContain {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 5px;
      // gap: 120px;
      input {
        width: $columW;
        height: $columH;
      }
      select {
        width: $columW;
        height: $columH;
      }
      .hide-arrows::-webkit-outer-spin-button,
      .hide-arrows::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .add {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      margin-bottom: -10px;
      span {
        opacity: 0;
        @include focusText;
      }
      .view {
        opacity: 1;
      }
      .clearIcon {
        margin-right: 10px;
      }
      .addIcon,
      .clearIcon {
        cursor: pointer;
      }
    }
    .needContain {
      margin: 12px auto;
      padding: 8px 0;
      // background: #fffacdb6;
      width: 100%;
      .needTit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .checkInput {
          display: flex;
          align-items: center;
          padding-right: 5px;
        }
        .needCount {
          display: flex;
          align-items: center;
          background: $subClrBrown;
          width: 100%;

          .title {
            color: $mainClrW;
            // background: $focusClrG;
            border-radius: 2px;
            margin-left: 5px;
            padding: 1px;
          }
        }

        .delNeedIcon {
          cursor: pointer;
          font-size: 1rem;
        }
      }

      .needInput {
        display: flex;
        justify-content: start;
        padding: 5px 5px 0;
        input {
          width: 100%;
        }
        textarea {
          resize: none;
          width: 100%;
          @include scrollbarContain;
        }
      }
      .center {
        align-items: center;
      }
    }
    .needFile {
      display: flex;
      justify-content: start;
      margin-bottom: 10px;
      .files {
        margin-left: 5px;
        width: 365px;
        background: #ddd;
        border: 1px solid #aaa;
        text-align: justify;
      }
    }
    .file {
      width: 100%;
      justify-content: start;

      margin-top: 10px;
      .fileName {
        display: flex;
        justify-content: space-between;
        color: aliceblue;
        background-color: $header;
        padding-left: 5px;
        .fileIcon {
          align-items: center;
          .clearIcon {
            margin-right: 10px;
          }
        }
        div {
          // display: flex;
          div {
            margin-right: 10px;
          }
        }
      }
      .fileTit {
        background: $subClrBrown;
        // font-size: 14px;
        color: $mainClrW;
        padding: 0.5px 6px;
      }
      .two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        .addUploadContainer {
          display: flex;
          align-items: center;
          padding: 5px 0;
          width: 85%;
          .addUploadContain {
            @include flexBetween;
            width: 100%;
            padding: 0 5px;
            margin-top: 2px;
            background: #eee;
            border: 1px solid $subClrBrown;
          }
          .items {
            margin: 0 5px;
          }
        }
        .delIcon {
          position: relative;
          left: -25px;
          top: 1px;
          font-size: 0.9rem;
          cursor: pointer;
          margin-left: 5px;
        }
        .addFile {
          display: flex;
          align-items: center;
          cursor: pointer;
          .addIcon {
            font-size: 1rem;
            color: $focusClrG;
          }
          span {
            padding: 1px 0 0 5px;
            @include focusText;
          }
        }
      }
    }
    .textareaGap {
      width: 100%;
      padding: 5px 5px 0;
      font-size: $contentText18;
      .textarea {
        width: 100%;
        height: 80px;
        resize: none;
      }
    }

    .cancle {
      display: flex;
      justify-content: center;
      .cancleBtn {
        color: $mainClrW;
        @include submitBtn($focusClrG);
      }
    }
  }
  .submitBtn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    .submit {
      display: flex;
      justify-content: center;
      border: 1px solid $subClrBrown;
      background-color: $header;
      border-radius: 10px;
      margin: 30px 0;
      padding: 5px 10px;
      cursor: pointer;
      color: aliceblue;
    }
  }
}
.fBtn {
  text-align: center;
  .finishBtn {
    color: $mainClrW;
    @include submitBtn($focusClrG);
  }
}
.selData {
  width: 85%;
  font-size: $contentText18;
  margin: 0 auto;
  background: $focusClrG;
  color: $mainClrW;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  border-radius: 4px;
  margin-top: 20px;
}

.nullData {
  width: 85%;
  font-size: $contentText18;
  margin: 0 auto;
  background: $subClrBrown;
  color: $mainClrW;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  border-radius: 4px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .m-view {
    display: flex;
  }
  .p-view {
    display: none;
  }

  .appFormContainer {
    height: 90%;
    .checkBtn {
      max-width: 95%;
    }
    .statusFormContainer {
      max-width: 95%;
    }
    .tableContainer {
      background: lightblue;
      max-width: 95%;

      .appTitle {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: $contentTit;
        font-weight: 600;
      }
      .vector {
        border-top: 2px solid black;
      }
      .gapContain {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5px;
        input {
          width: $columW;
          height: $columH;
        }
        select {
          width: $columW;
          height: $columH;
        }
        .hide-arrows::-webkit-outer-spin-button,
        .hide-arrows::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      .add {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: -10px;
        span {
          opacity: 0;
          @include focusText;
        }
        .view {
          opacity: 1;
        }
        .clearIcon {
          margin-right: 10px;
        }
        .addIcon,
        .clearIcon {
          cursor: pointer;
        }
      }
      .needContain {
        margin: 12px auto;
        padding: 8px 0;
        // background: #fffacdb6;
        width: 100%;
        .needTit {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .checkInput {
            display: flex;
            align-items: center;
            padding-right: 5px;
          }
          .needCount {
            display: flex;
            align-items: center;
            background: $subClrBrown;
            width: 100%;

            .title {
              color: $mainClrW;
              // background: $focusClrG;
              border-radius: 2px;
              margin-left: 5px;
              padding: 1px;
            }
          }

          .delNeedIcon {
            cursor: pointer;
            font-size: 1rem;
          }
        }

        .needInput {
          display: flex;
          justify-content: start;
          padding: 5px 5px 0;
          input {
            width: 100%;
          }
          textarea {
            resize: none;
            width: 100%;
            @include scrollbarContain;
          }
        }
        .center {
          align-items: center;
        }
      }
      .needFile {
        display: flex;
        justify-content: start;
        margin-bottom: 10px;
        .files {
          margin-left: 5px;
          width: 365px;
          background: #ddd;
          border: 1px solid #aaa;
          text-align: justify;
        }
      }
      .file {
        width: 100%;
        justify-content: start;

        margin-top: 10px;
        .fileName {
          display: flex;
          justify-content: space-between;
          color: aliceblue;
          background-color: $header;
          padding-left: 5px;
          .fileIcon {
            align-items: center;
            .clearIcon {
              margin-right: 10px;
            }
          }
          div {
            // display: flex;
            div {
              margin-right: 10px;
            }
          }
        }
        .fileTit {
          background: $subClrBrown;
          // font-size: 14px;
          color: $mainClrW;
          padding: 0.5px 6px;
        }
        .two {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 5px;
          .addUploadContainer {
            display: flex;
            align-items: center;
            padding: 5px 0;
            width: 85%;
            .addUploadContain {
              @include flexBetween;
              width: 100%;
              padding: 0 5px;
              margin-top: 2px;
              background: #eee;
              border: 1px solid $subClrBrown;
            }
            .items {
              margin: 0 5px;
            }
          }
          .delIcon {
            position: relative;
            left: -25px;
            top: 1px;
            font-size: 0.9rem;
            cursor: pointer;
            margin-left: 5px;
          }
          .addFile {
            display: flex;
            align-items: center;
            cursor: pointer;
            .addIcon {
              font-size: 1rem;
              color: $focusClrG;
            }
            span {
              padding: 1px 0 0 5px;
              @include focusText;
            }
          }
        }
      }
      .textareaGap {
        width: 100%;
        padding: 5px 5px 0;
        font-size: $contentText18;
        .textarea {
          width: 100%;
          height: 80px;
          resize: none;
        }
      }

      .cancle {
        display: flex;
        justify-content: center;
        .cancleBtn {
          color: $mainClrW;
          @include submitBtn($focusClrG);
        }
      }
    }
  }

  .selData,
  .nullData {
    width: 95%;
  }
}
