@import '../variable';

// appForm
@mixin submitBtn($bcg) {
  border: 0;
  background: $bcg;
  padding: 2px 8px;
  margin-left: 25px;
  border-radius: 5px;
  transition: linear 0.3s;
  &:hover {
    box-shadow: 0.2px 0.2px 4px #8a8a8aa5;
  }
}

.appFormContainer {
  // background: lemonchiffon;
  max-width: 100%;
  height: 85%;
  margin: 0 auto;
  @include scrollbar;
  .editBtn {
    font-size: 16px;
    font-weight: 600;
    max-width: 375px;
    margin: 0 auto;
    background: $focusClrY;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .statusFormTit {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: $subClrBrown;
    font-weight: 600;
  }
  .statusFormContainer {
    background: $subClrBrown;
    max-width: 70%;
    margin: 0 auto;
    padding: 8px 8px 0;
    height: 250px;
    border: 3px solid #ccc;
    border-radius: 5px;
    @include scrollbarContain;
    .statusFormContain {
      background: $mainClrW;
      margin-bottom: 8px;
      padding: 5px;
      textarea {
        resize: none;
        @include scrollbarContain;
      }
    }
  }
  .tableContainer {
    // background: lightblue;
    max-width: 70%;
    margin: 20px auto 10px;
    .gapContain {
      display: flex;
      gap: 120px;
      select {
        width: 157.6px;
        height: 22px;
      }
      .hide-arrows::-webkit-outer-spin-button,
      .hide-arrows::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .add {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      margin-bottom: -10px;
      span {
        opacity: 0;
        color: $focusClrG;
      }
      .view {
        opacity: 1;
      }
      .clearIcon {
        margin-right: 10px;
      }
      .addIcon,
      .clearIcon {
        cursor: pointer;
      }
    }
    .needContain {
      margin: 12px auto;
      padding: 5px;
      // background: #fffacdb6;

      .needTit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .checkInput {
          display: flex;
          align-items: center;
          padding-right: 5px;
        }
        .needCount {
          display: flex;
          align-items: center;
          background: $subClrBrown;
          width: 100%;
          font-size: 14px;

          .title {
            color: $mainClrW;
            // background: $focusClrG;
            border-radius: 2px;
            margin-left: 5px;
            padding: 1px;
          }
        }

        .delNeedIcon {
          cursor: pointer;
          font-size: 1rem;
        }
      }

      .needInput {
        display: flex;
        justify-content: start;
        padding-top: 5px;
        input {
          width: 100%;
        }
        textarea {
          resize: none;
          width: 100%;
          @include scrollbarContain;
        }
      }
      .center {
        align-items: center;
      }
    }
    .needFile {
      display: flex;
      justify-content: start;
      margin-bottom: 10px;
      .files {
        margin-left: 5px;
        width: 365px;
        background: #ddd;
        border: 1px solid #aaa;
        text-align: justify;
      }
    }
    .file {
      width: 100%;
      justify-content: start;

      margin-top: 10px;
      .fileName {
        display: flex;
        justify-content: space-between;
        color: aliceblue;
        background-color: $header;
        padding-left: 5px;
        .fileIcon {
          align-items: center;
          .clearIcon {
            margin-right: 10px;
          }
        }
        div {
          display: flex;
          div {
            margin-right: 10px;
          }
        }
      }
      .fileTit {
        background: $subClrBrown;
        font-size: 14px;
        color: $mainClrW;
        padding: 0.5px 6px;
      }
      .two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        .addUploadContainer {
          display: flex;
          align-items: center;
          padding: 5px 0;
          width: 80%;
          .addUploadContain {
            @include flexBetween;
            width: 100%;
            padding: 0 5px;
            margin-top: 2px;
            background: #eee;
            border: 1px solid $subClrBrown;
          }
          .items {
            margin: 0 5px;
          }
        }
        .delIcon {
          position: relative;
          left: -25px;
          top: 1px;
          font-size: 0.9rem;
          cursor: pointer;
          margin-left: 5px;
        }
        .addFile {
          display: flex;
          align-items: center;
          cursor: pointer;
          .addIcon {
            font-size: 1rem;
            color: $focusClrG;
          }
          span {
            padding: 1px 0 0 5px;
            color: $focusClrG;
          }
        }
      }
    }
    .textareaGap {
      width: 100%;
      margin-top: 15px;
      .textarea {
        width: 100%;
        height: 80px;
        resize: none;
      }
    }
    .selectContain {
      // background: lightcoral;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      padding: 10px 0 0;
      font-size: 14px;
      border-top: 1px dashed $subClrBrown;
      .selContain {
        position: relative;
        display: flex;
        justify-content: center;
      }
      .selectRemind {
        position: absolute;
        bottom: -20px;
        left: 0;
        font-size: 12px;
        color: $focusClrG;
      }
      .confirmBtn {
        @include submitBtn(#ccc);
      }
    }

    .cancle {
      display: flex;
      justify-content: center;
      .cancleBtn {
        color: $mainClrW;
        @include submitBtn($focusClrG);
      }
    }
  }
  .submitBtn {
    display: flex;
    justify-content: center;
    gap: 20px;
    .submit {
      display: flex;
      justify-content: center;
      border: 1px solid $subClrBrown;
      background-color: $header;
      border-radius: 10px;
      margin: 30px 0;
      padding: 5px 10px;
      cursor: pointer;
      color: aliceblue;
    }
  }
}
.fBtn {
  text-align: center;
  .finishBtn {
    color: $mainClrW;
    @include submitBtn($focusClrG);
  }
}
