@import '../variable';

.dealWithBorder {
  // background: lightblue;

  // max-width: 90%;
  border: 1px solid #ccc;
  // width: fit-content;
  // margin: $marage10 0 auto;
}
.userName {
  // background: lightblue;
  max-width: 85%;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(12px, 1vw, 18px);
  padding: 0 0 3px;
  color: $subClrBrown;
  font-weight: 600;
  .userIcon {
    font-size: 1.6rem;
    padding-right: 6px;
  }
}
.chatContainer {
  // background: lightcoral;
  margin: 0 auto;
  width: 85%;
  height: 250px;
  // padding: 0 10px;
  font-size: clamp(12px, 1vw, 18px);
  border-top: 1px dashed #aaa;
  // @include scrollbar;
  .handleStatus {
    margin: 10px auto;
    // background: lemonchiffon;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include scrollbarContain;

    .msgContainer {
      // background: lightcoral;
      width: 100%;
      .msgContain {
        text-align: justify;
        border: 2px solid $focusClrG;
        background: $mainClrW;
        border-radius: 3px;
        padding: 5px;
        word-break: break-all;
      }
      .time {
        text-align: end;
        padding-top: 3px;
        color: #aaa;
      }
      .handler {
        text-align: start;
        color: #aaa;
      }
    }
    .mTop {
      margin-top: 10px;
    }
  }
}
.dealWithContainer {
  // display: grid;
  // grid-template-columns:140px 4fr;
  // background: lightcoral;
  white-space: nowrap;
  margin: $marage10 auto;
  font-size: clamp(12px, 1vw, 18px);
  max-width: 85%;
  .dealWithContain {
    // background-color: lemonchiffon;
    margin: $marage10 0;
    .reply {
      display: flex;
      align-items: center;
      margin: 5px 0;
    }
  }
  .dealTit {
    color: $focusClrG;
  }
  .submitIcon {
    font-size: 2rem;
    margin: 0 5px;
    cursor: pointer;
    color: $subClrBrown;
  }
  .feedbackContainer {
    // max-width: 90%;
    // display: flex;
    // justify-content: center;
    .feedbackContain {
      display: flex;
      align-items: center;
      justify-content: center;
      .feedback {
        resize: none;
        border: 1.5px solid $subClrBrown;
        border-radius: 3px;
        width: 100%;
        padding: 3px;
        word-break: break-all;
        text-align: justify;
        @include scrollbarContain;
      }
    }
  }
}
.noneHight {
  height: calc(100% - 100px);
}
.chatBarContain {
  // background: lemonchiffon;
  width: 85%;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  bottom: 0;
  margin-bottom: $marage10;
  @include flexCenter;
  .submitMsg {
    resize: none;
    border: 1.5px solid $subClrBrown;
    border-radius: 3px;
    width: 100%;
    padding: 3px;
    @include scrollbarContain;
  }
  .submitIcon {
    font-size: 2rem;
    margin: 0 5px;
  }
  .submitTrue {
    color: $subClrBrown;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .userName {
    // background: lightblue;
    max-width: 95%;
  }
  .chatContainer {
    width: 100%;
    height: calc(100% - 350px);
    // padding: 0 5px;
    // @include scrollbar;
    .handleStatus {
      width: 95%;
      height: 250px;
    }
  }
  .dealWithContainer {
    max-width: 95%;
  }
  .chatBarContain {
    // background: lemonchiffon;
    width: 95%;
  }
}
