@import '../variable';

.selectContain {
  // background: lightcoral;
  display: flex;
  // justify-content: center;
  margin-left: 10px;
  // padding: 10px 0 0;
  font-size: clamp(12px, 1vw, 18px);
  .selContain {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .selectRemind {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 12px;
    @include focusText;
  }
  .confirmBtn {
    font-size: $contentText18;
    border: 0;
    padding: 2px 10px;
    margin-left: 5px;
    border-radius: $borderRadius;
    transition: linear 0.3s;
    background: $focusClrY;
    &:hover {
      box-shadow: 0.3px 0.3px 4px #8a8a8aa5;
    }
  }
}
