@import '../variable';

@mixin submitBtn($bcg) {
  border: 0;
  background: $bcg;
  padding: 2px 8px;
  margin-left: 25px;
  border-radius: 5px;
  transition: linear 0.3s;
  &:hover {
    box-shadow: 0.2px 0.2px 4px #8a8a8aa5;
  }
}

.selectContain {
  // background: lightcoral;
  display: flex;
  // justify-content: center;
  margin-left: 10px;
  // padding: 10px 0 0;
  font-size: clamp(12px, 1vw, 18px);
  .selContain {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .selectRemind {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 12px;
    color: $focusClrG;
  }
  .confirmBtn {
    @include submitBtn(#ccc);
  }
}
