@import '../variable';

.m-view {
  display: none;
}
.caseContainer {
  // background: rgb(231, 190, 151);
  width: 90%;
  height: calc(100vh - 70px);
  font-size: $contentText18;
  .mobileToggle {
    display: none;
  }
  .case {
    @include scrollbar;
  }
  .sortSelect {
    // background: lemonchiffon;
    width: 100%;
    padding: 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    .bothFilter {
      display: flex;
      justify-content: flex-start;
      .marge5 {
        margin-right: 10px;
      }
    }
  }
  .caseContain {
    margin: 20px auto 0;

    .body :hover {
      background: #eee;
    }
    thead,
    .body {
      border-bottom: 1px solid #ccc;
      text-align: center;
      tr,
      th,
      td {
        white-space: nowrap;
      }
      th {
        padding: 10px 15px;
        .arrow {
          font-size: 2rem;
          cursor: pointer;
        }
      }
      td {
        padding: 15px;
        .icons {
          width: 40px;
          height: 20px;
          cursor: pointer;
          color: pink;
        }
      }
      .view {
        color: $focusClrG;
      }
      .sortBtn {
        @include flexCenter;
      }
    }
  }
  .page {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 20px;
  }
  .noData {
    // background: lavenderblush;
    font-size: $contentText18;
    color: $focusClrG;
    text-align: center;
    .noTd {
      padding: 15px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .m-view {
    display: flex;
  }
  .p-view {
    display: none;
  }
  .caseContainer {
    .sortSelect {
      justify-content: center;
      flex-direction: column;
      margin-left: -5px;
      .both {
        display: flex;
        margin-bottom: $marage10;
        .bothFilter {
          .marge5 {
            margin-right: $marage10;
          }
          .margeNone {
            margin-right: $marage10;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .m-view {
    display: flex;
  }
  .p-view {
    display: none;
  }

  .caseContainer {
    .sortSelect {
      align-items: flex-start;
      .both {
        margin-bottom: 0;
        flex-direction: column;
        // .bothFilter {
        //   padding-bottom: 15px;
        //   .margeNone {
        //     margin-right: 0;
        //   }
        // }
      }
    }
  }
}

/* media queries */
@media screen and (max-width: 576px) {
  .caseContainer {
    .mobileToggle {
      display: flex;
      justify-content: end;
    }
  }
  .case {
    max-width: 576px;
    margin: 0 auto;
  }

  table.mobileCaseContain {
    width: 100%;
  }
  table.mobileCaseContain tr.hide-mobile,
  table.mobileCaseContain th.hide-mobile,
  table.mobileCaseContain td.hide-mobile {
    display: none;
  }
  table.mobileCaseContain thead {
    display: none;
  }
  table.mobileCaseContain tbody {
    width: 100%;
  }
  .caseContainer .mobileCaseContain .body {
    border-bottom: none;
  }
  table.mobileCaseContain tr,
  table.mobileCaseContain th,
  table.mobileCaseContain td {
    display: block;
    padding: 0;
  }
  table.mobileCaseContain tr {
    // border-bottom: none;
    // border-top: none;
    border: 1px solid #ccc;
    margin: 0 0 1em 0;
    padding: 0 0.5em;
  }
  .caseContainer .mobileCaseContain .noData tr {
    border: 0px;
  }
  .caseContainer .mobileCaseContain .noData td {
    text-align: center;
  }
  table.mobileCaseContain tr.highlight {
    background-color: inherit !important;
  }
  table.mobileCaseContain.zebra tr:nth-child(even) {
    background-color: transparent;
  }
  table.mobileCaseContain.zebra td:nth-child(even) {
    background-color: #f6f6f6;
  }
  table.mobileCaseContain tr:nth-child(even) {
    background-color: transparent;
  }
  table.mobileCaseContain td {
    padding: 0.5em 0 0.25em 0;
    border-bottom: 1px dotted #ccc;
    text-align: right;
  }
  table.mobileCaseContain td:last-child {
    border-bottom: 0px;
  }
  table.mobileCaseContain td[data-title]:before {
    content: attr(data-title);
    font-weight: bold;
    display: inline-block;
    content: attr(data-title);
    float: left;
    margin-right: 0.5em;
    font-size: 0.95em;
  }
  table.mobileCaseContain td:last-child {
    padding-right: 0;
    // border-bottom: 2px solid #ccc;
  }
  table.mobileCaseContain td:empty {
    display: none;
  }
  table.mobileCaseContain .highlight td {
    background-color: inherit;
    font-weight: normal;
  }
}
