@import '../variable';

.countContainer {
  margin-bottom: 10px;
  tr,
  th,
  td {
    border: 1px solid #ccc;
    text-align: center;
  }
  th,
  td {
    padding: 5px 8px;
  }
}
.stateTit {
  font-size: 14px;
  margin-top: 10px;
  color: $focusClrG;
  font-weight: 600;
}
