@import '../variable';

.caseWrap {
  width: 1260px;
  height: calc(100vh - 70px);
  // background: rgb(231, 190, 151);
  // margin: 0 auto;
  font-size: clamp(12px, 1vw, 18px);
  // padding-bottom: 30px;
  // .m-view {
  //   display: none;
  // }
  .direction {
    flex-direction: column;
  }
  // sort
  .sort {
    // background: lemonchiffon;
    padding: 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    margin-bottom: $marage10;
    .filter {
      display: flex;
      justify-content: flex-start;
    }
    .userSort {
      display: flex;
      align-items: center;
      justify-content: start;
    }
  }
  .sortSelect,
  .sortSel {
    // background: lemonchiffon;
    padding: 20px 0px 0px;
    .userSort {
      display: flex;
      align-items: center;
      justify-content: start;
    }
  }
  .userFlex {
    display: flex;
    align-items: center;
    justify-content: start;
    .userSort {
      display: flex;
      align-items: center;
      justify-content: start;
    }
  }
  .allConutContainer {
    //   background: lemonchiffon;
    @include scrollbar;
    // width: 90%;
    height: 72%;
    padding: 0 10px;
    .countContainer {
      margin-bottom: 30px;
      tr,
      th,
      td {
        border: 1px solid #ccc;
        text-align: center;
        white-space: nowrap;
      }
      th,
      td {
        padding: 5px 8px;
      }
    }
    .stateTit {
      // font-size: 14px;
      margin-top: 10px;
      color: $focusClrG;
      font-weight: 600;
    }
    .allTit {
      padding: 5px;
      // font-size: 14px;
      background: $focusClrG;
      color: #fff;
      border-radius: 3px;
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .caseWrap {
    width: 800px;
  }
}

@media screen and (max-width: 1000px) {
  .m-view {
    display: flex;
  }
  .p-view {
    display: none;
  }
  .direction {
    flex-direction: column;
    align-items: center;
  }
  .marginB {
    margin-bottom: $marage10;
  }

  .caseWrap {
    width: 370px;
    // sort
    .sort {
      flex-direction: column;
      margin-bottom: 0px;
      .filter {
        margin-bottom: $marage10;
        justify-content: center;
      }
      .userSort {
        // background: lightcoral;
        flex-direction: column;
        align-items: start;
        justify-content: center;
      }
    }
    .sortSel {
      .userSort {
        justify-content: center;
      }
    }
    .userFlex {
      flex-direction: column;
      align-items: start;
      .userStart {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
      }
      .userSort {
        flex-direction: column;
        align-items: start;
        .unitFlex {
          display: flex;
        }
      }
    }
  }

  // sort
  // .sort {
  //   flex-direction: column;
  //   margin-bottom: 0px !important;
  //   .filter {
  //     margin-bottom: $marage10;
  //   }
  //   .userSort {
  //     // background: lightcoral;
  //     flex-direction: column;
  //     align-items: start !important;
  //   }
  // }
  // .userFlex {
  //   flex-direction: column;
  //   align-items: start !important;

  //   .userSort {
  //     flex-direction: column;
  //     align-items: start !important;
  //     .unitFlex {
  //       display: flex;
  //     }
  //   }
  // }
}
